@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

* {
    font-family: "Barlow", sans-serif;
    font-size: xx-large;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    z-index: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infoContainer{
    background-color: #ccff33;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#overlay {
   background-color: #ccff33;
   z-index: 5;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.infoTitle {
    color: #5a5a5a;
}